.privacy-header{
    text-align: center;
    margin:4rem;
    padding:2rem;

}
.privacy-header h5{
    font-size:7rem;
    font-weight:bold;
    margin:0;
    /* color:var(--bg-color); */
}
.content , .content1, .content2,.content3,.content4, .content5,.content6 {
    max-width: 80%;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    margin: 0 auto;
  
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 24px;
    margin-bottom: 10px;
}
.content{
border-left:5px solid #4caf50;
margin-top:10%;
}
.content1{
    border-left:5px solid red;
}
.content2{
    border-left:5px solid yellow;
}
.content3{
    border-left:5px solid blue;
}
.content4{
    border-left:5px solid #ff9800;
}
.content5{
    border-left:5px solid #2196f3;
}
.content6{
    border-left:5px solid #9c27b0;
    margin-bottom:50px;
}

/* Ensure text and elements fit within the screen width */
p, ul, li, a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

@media (max-width: 600px) {
    .content {
        padding: 10px;
    }
    
    p, ul, li {
        font-size: 14px;
    }
}
